{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_item %}
    {% if category.type == 'folder' %}
        <div class="nav-link main-navigation-link"
                {% if treeItem.children|length > 0 %}
                    data-flyout-menu-trigger="{{ category.id }}"
                {% endif %}
             title="{{ name }}">
            <div class="main-navigation-link-text">
                <span itemprop="name">{{ name }}</span>
            </div>
        </div>
    {% else %}
        {% set hide = false %}
        {% if category.extensions.pageActive and config('ElioAddCustomField.config.menuLink') == true %}
            {% set hide = true %}
        {% endif %}
        <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active {% endif %} {% if category.extensions.pageActive is not null %} disabled {% endif %} {% if hide %} d-none {% endif %}"
           href="{{ category_url(category) }}"
           itemprop="url"
           {% if treeItem.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                {% if category_linknewtab(category) %}target="_blank"{% endif %}
           title="{{ name }}">
            <div class="main-navigation-link-text">
                <span itemprop="name">{{ name }}</span>
            </div>
        </a>
    {% endif %}
{% endblock %}



